@mixin box-sizing($type) {
  box-sizing: $type;
}

@mixin box-shadow($style) {
  -webkit-box-shadow: $style;
  -moz-box-shadow: $style;
  box-shadow: $style;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function pixelToNumber($pxValue) {
  @return strip-unit($pxValue);
}

@function numberToPixel($number) {
  @return $number + 0px;
}

@function getBreakpointNumber($breakpoint) {
  @return map-get($rbBreakpoints, $breakpoint);
}

@function getBreakpointPixel($breakpoint) {
  @return pixelToNumber(map-get($rbBreakpoints, $breakpoint));
}
