$fontFolder: '../fonts/';

.font-lucida {
  font-family: 'IKK Lucida Sans Roman', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.font-arial {
  font-family: Arial, sans-serif;
}
