@charset "UTF-8";

/**
  colors
  */
$white: #fff;
$blue: #0ba1e2;
$berry: #e72242;
$errorred: #f00;
$black: #000;
$gray: #e6e6e6;
$darkgray: #aaa;
$grey: $gray;
$borderColor: $black;
$blueTransparent: rgba($blue, .85);

