<div class="owl-carousel">
    <div><img src=".{{assets}}/images/carousel/bird-falcon-nature-beak-65272.jpeg"></div>
    <div><img src=".{{assets}}/images/carousel/matryoshka-red-fly-agaric-mushroom-mushrooms-forest.jpg"></div>
    <div><img src=".{{assets}}/images/carousel/pexels-photo-459225.jpeg"></div>
    <div><img src=".{{assets}}/images/carousel/pexels-photo-460775.jpeg"></div>
</div>