%headline{
  font-family: Arial;
  font-weight: bold;
}

.h1 {
  @extend %headline;
  margin: 20px 5px;
  font-size: 36px;
}

.h2 {
  @extend %headline;
  margin: 20px 5px;
  font-size: 20px;
}

.h3 {
  @extend %headline;
  margin: 20px 5px;
  font-size: 15px;
}