<!DOCTYPE html>
<html lang="de">
<head>
    {{> components/site/meta}}
    <title>{{page-title}}</title>
    {{> components/site/header}}
</head>
<body id="body" class="online-js">

  {{#block "content"}}{{/block}}

  {{> components/page/footer}}
</body>
</html>
